<h1>List of order</h1>

<% if orders.length > 0 %>
  <ul>
    <% orders.each_with_index do |order, index| %>
      <li><%= index + 1 %></li>
      <li><%= order.jenis_sampah %></li>
      <li><%= order.berat %></li>
      <li><%= order.alamat_penjemputan %></li>
    <% end %>
  </ul>
<% else %>
  <p>kosong</p>
<% end %>
