@import "bootstrap";
@import "**/*";



.authincation-content{
  background: #fff;
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
  border-radius: 5px;
  

}

.welcome-content{
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 75px 50px;
  position: relative;
  z-index: 1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  &::after{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: $primary;
      opacity: 0.75;
      z-index: -1;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
  }
  
}

.auth-form{
  padding: 50px 50px;

  .btn{
      height: 50px;
      font-weight: 700;
  }
  .page-back{
      display: inline-block;
      margin-bottom: 15px;
  }
}



/* forms */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  
  .form-control {
    color: black;
  }
}